CSVs/*

!CSVs/timestamped.csv

/.vscode/*

/src/__pycache__

/src/__pycache__/*

/ideas.txt

ideas.txt

src/__pycache__

src/__pycache__/*


/src/ArduinoDE/build/*

/src/ArduinoDE/fake

/src/testjson.py

